.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: orange;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;

}
     


.item{
    margin-right: 6rem;
}