.todoitemcontainer{
    background-color:#fff;
    width:35rem;
    margin:  0 auto;
   border-bottom: 2px solid rgb(204, 204, 204 ,.4);
   margin-bottom: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

}

.todoitem{
    padding-left: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: sans-serif;
}

.deletebtn{
 padding: .5rem 1rem;
 border: none;
 font-size: 1rem;
 background-color: orange;
 border-radius: 4px;
 color:#fff;
}

.completed{
    text-decoration: line-through;
    
}